html, body {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#add-book-btn-container {
    grid-area: addBookbtn;
}

.all-books-container {
    grid-area: booksContainer;
}

.books-container {
    height: 250px;
    width: 340px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 85% 15%;
    grid-template-areas: 
        "textCategory textContent"
        "btnsContainer btnsContainer";
}


.text-category {
    grid-area: textCategory;
}

.text-content {
    grid-area: textContent;
}

.text-content, .text-category {
    font-size: 1.25em;
    margin-left: 1rem;
    margin-top: 1rem;
}

/*need to deal with the overflow*/
.text-content {
    margin-top: 1rem;
    margin-right: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.buttons-content {
    grid-area: btnsContainer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#add-book-btn-container {
    text-align: center;
}

#add-book-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    background-color: white;
    font-size: 1.25rem;
}

#add-book-btn:hover {
    background-color: rgb(236, 230, 230);
}

#all-books-location {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 1500px) 1fr;
    grid-template-areas: 
        "black1 booksContainer black2";
}

#all-books-container {
    grid-area: booksContainer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.books-container {
    margin: 1.25em;
}
