html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to right, rgb(105, 21, 21), white);
}

#header-container, #add-button-footer {
    height: 15vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#header-text {
    font-size: 2.5em;
    font-family: 'Sans Serif', 'Times New Roman';
}


#books-container {
    height: 70vh;
    display: flex;
}

#add-button {
    height: 70%;
    width: 8em;
    background: gray;
    font-size: 2.5em;
    border-radius: 20px;
}

#add-button:hover {
    background: rgb(185, 185, 185);
}
